* {
   -darkblue: #29425b;
   -lightblue: #d4deea;
   -lightblue-gradient: linear-gradient(to bottom, derive(-lightblue, 40%), -lightblue);
}

.expert-pane {-fx-min-width: 200;}

.setup-flow-pane {
  -fx-alignment:      top-center;
  -fx-row-valignment: top;
  -fx-padding:        10 10 10 10;
  -fx-vgap:           10;
  -fx-hgap:           10;
}

.parameter-grid-pane {
  -fx-hgap: 10;
  -fx-vgap: 2;
}

.parameter-grid-pane TextField {
  -fx-pref-width: 60;
  -fx-alignment:  center;
}

.decision-output-vbox {
  -fx-padding:   10 10 10 10;
  -fx-spacing:   10;
  -fx-alignment: top-center;
}

.decision-warnings-label {
  -fx-font-weight: bold;
}

.tooltip {
  -fx-background-color: -lightblue-gradient;
  -fx-text-fill: black;
  -fx-font-size: 12px;
  -fx-border-radius: 5;
  -fx-border-style: solid;
  -fx-border-color: -darkblue;
  -fx-border-width: 0.5pt;
  -fx-background-radius: 5;
 /* -fx-min-width: 100;
  -fx-pref-width: 100;
  -fx-max-width: 100;
  -fx-min-height: 100;
  -fx-max-height: 5000;*/
  /*-fx-wrap-text: true;*/
}

.control-buttons-hbox {
  -fx-alignment:  center;
  -fx-padding:    10 10 10 10;
  -fx-spacing:    10;
  -fx-min-height: 60;
}

.hps-alternatives-tree {
  -fx-pref-width: 440;
  -fx-min-width:  300;
  -fx-min-height: 500;
}


