.expert-pane {-fx-min-width: 250;}

.morph-tabpane-with-goal {-fx-padding: 7;}

.morph-tabpane-with-goal > Label {
  -fx-padding: 0 0 7 0;
  -fx-font-weight: bold;
}

.morph-control-elements-box {
  -fx-padding:   10 10 10 10;
  -fx-spacing:   10;
  -fx-alignment: center;
}

.morph-control-button-box {
  -fx-insets:    20 10 20 0;
  -fx-hgap:      10.0;
  -fx-vgap:      8.0;
  -fx-alignment: center;
}

.control-button {
  -fx-background-color: #707070;
  -fx-label-padding: 0 0 0 0;
}

.morph-statistics-table {
  -fx-padding: 5 0 0 0;
  -fx-hgap: 10;
}

.dm-slider {
  -fx-max-width: 140;
}


#morph-canvas-box {
  -fx-alignment: center;
  -fx-max-width: 500;
}

.morph-info-box {
  -fx-min-width:     100;
  -fx-padding:       5;
  -fx-border-radius: 5;
  -fx-border-style:  solid;
  -fx-border-width:  0.5pt;
}

.morph-info-box GridPane {
  -fx-hgap: 10;
  -fx-vgap: 2;
}

.morph-info-box TextField {
  -fx-pref-width: 20;
}

.morph-info-box > Label {
  -fx-font-size:    12px;
  -fx-font-weight:  bold;
  -fx-padding:      0 0 0 0;
  -fx-border-style: solid;
  -fx-border-width: 0 0 0.5pt 0;
}

.morph-info-and-control-box {
  -fx-spacing:   20;
  -fx-alignment: center;
  -fx-padding:   5;
}


#hps-controlRegion > .morph-info-and-control-box {
  -fx-fill-width:       true;
  -fx-background-color: linear-gradient(to bottom, #B0B0B0, #E6E6E6);
/*
  -fx-background-color: -lightblue-gradient;
*/
}

.hps-alternatives-tree {
  -fx-min-height:  270;
}


.welcome-button{
  -fx-min-height: 50;
  -fx-background-color:
    -darkblue,
    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    /*linear-gradient(#20262b, #191d22)*/
    radial-gradient(center 50% 0%, radius 100%, #d4deea, #29425b);
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 7, 0.0 , 2 , 2 );
  -fx-text-fill: #FFFFFF;
  -fx-font-size: 18px;
  -fx-font-weight: bold;
}


.tab *.tab-label {
  -fx-font-weight: bold;
}

.entry-screen-box {
  -fx-background-color: #d4deea;
  -fx-spacing: 10;
}

.goal-achievement-box {
  -fx-padding: 10;
  -fx-spacing: 15;
  -fx-alignment: center;
}

.goal-parameters-input-grid {
  -fx-padding: 10 10 10 10;
  -fx-vgap:    5;
  -fx-hgap:    10;
}
